// hide metadata
#content {
  .accordion {
    visibility: hidden;
    display: none;
  }
}

#workspace {
    .go-workspace, .edit-settings {
        visibility: hidden;
        display: none;
    }
}

// remove some unneeded content for OERPUB in workspace panel
.body-above {
  display:none;
  visibility: visible;
}
