// hide metadata
#content {
  .accordion {
    visibility: hidden;
    display: none;
  }
}

// hide everything except save
#workspace-menu-auth {
    #fork-content, #edit-settings, #sign-out, .name.navbar-text {
        visibility: hidden;
        display: none;
    }
}