@import "../variables.less";

/*****************************
 * New Styles
 *****************************/

.sidebar-container {
  // When .minimized, the bar is moved left (negative number) so it "appears" to slide left
  // Other sidebars may actually be to the left so clip to the left
  overflow-x: hidden;
  float: left;
  position: relative;
  z-index: 1000; // Show above the content (if the window is narrow)

  border-right: @aside-border-width solid #999;
  box-sizing: border-box;

  &.sidebar-workspace{
    max-width: @picker-width;
    .handle {
      background-color: @picker-color;
    }
  }

  .handle {
    > i.expand-collapse {
      // The icon's width is set to @aside-handle-width, so when the panel's open (with handle width:0),
      // move the icon over by that much so that it's in the same position on top of the panel heading
      right: @aside-handle-width;
    }
    // On hover, "brighten" text and give icon a slight bump
    &:hover {
      > i.expand-collapse {
        opacity: 1;
        margin-left: -1px;
      }
      > .handle-text {
        opacity: 1;
      }
    }
    > i.expand-collapse::before { content: "\f137"; /* icon-chevron-sign-left */ }
  }

  &.sidebar-workspace aside > div {

    .x-slide-sidebar(@picker-width);
    background-color: #f0f0f0; // Make picker background distinct from TOC background.

    > .handle > .handle-text::before          { content: 'Bookshelf'; }
    > .boxed-group > h3 {
      background-color: @picker-color;
      > .title-text::before { content: 'Bookshelf'; }
    }

  }

  &.sidebar-workspace{
    max-width: @picker-width;
    .handle {
      background-color: @picker-color;
    }
  }

  .x-sidebar-color-and-title(@title, @color) {
    > .handle {
      background-color: @color;

      > .handle-text::before { content: @title; }
    }
    > .boxed-group > h3 {
      background-color: @color;

      > .title-text::before { content: @title; }
    }
  }


  &.sidebar-toc {
    max-width: @toc-width;
    background-color: white;

    aside > div {

      .x-slide-sidebar(@toc-width);

      &[data-media-type=@{book-media-type}]                   { .x-sidebar-color-and-title('Table of Contents', @toc-color); }
      &[data-media-type="application/vnd.org.cnx.collection"] { .x-sidebar-color-and-title('Table of Contents', @toc-color); }
      &[data-media-type="application/vnd.org.cnx.folder"]     { .x-sidebar-color-and-title('Folder Contents'  , @folder-color); }
    }
  }
}

.x-filter-gradient(@orient, @start-color, @end-color) {
  background-color: @end-color;
  background-image: -webkit-linear-gradient(@orient, @start-color, @end-color);
  background-image:    -moz-linear-gradient(@orient, @start-color, @end-color);
  background-image:         linear-gradient(@orient, @start-color, @end-color);
}

.x-rotate(@degrees, @origin) {
  -webkit-transform:  rotate(@degrees);
  -moz-transform:     rotate(@degrees);
  -ms-transform:      rotate(@degrees);
  -o-transform:       rotate(@degrees);
  transform:          rotate(@degrees);

  -webkit-transform-origin: @origin;
  -moz-transform-origin:    @origin;
  -ms-transform-origin:     @origin;
  -o-transform-origin:      @origin;
  transform-origin:         @origin;
}

.x-slide-sidebar(@width) {
  width: @width;
  -webkit-transition: width 0.1s ease-out;
  -moz-transition:    width 0.1s ease-out;
  -o-transition:      width 0.1s ease-out;
  transition:         width 0.1s ease-out;
}

.x-sidebar-handle-hover(@normal-width, @hover-width) {
  text-shadow: 2px 2px 4px #000;
}

#workspace-container {
  width: 100%;
  min-width: @workspace-min-width;

  // workspace minimized
  // The workspace-minimized class is on the <body> so the content can shift using a margin-left
  body.workspace-minimized & {
    min-width: (@workspace-min-width - @picker-width + @aside-handle-width);

    .sidebar-workspace {
      width: @aside-handle-width;
      .boxed-group {
        max-width: 0;
        visibility: hidden;
        overflow-x: hidden;
      }
      .handle {
        width: @aside-handle-width;
        > i.expand-collapse{
          right: 0;
          &::before { content: "\f138"; /* icon-chevron-sign-right */ }
        }
        .handle-text {
          // Turn the text on when the panel is closed
          display: block;
        }
      }
    }
  }

  // sidebar minimized (#sidebar is the table of contents)
  // The sidebar-minimized class is on the <body> so the content can shift using a margin-left
  body.sidebar-minimized & {
    min-width: (@workspace-min-width - @toc-width + @aside-handle-width);

    .sidebar-toc {
      width: @aside-handle-width;
      .boxed-group {
        max-width: 0;
        visibility: hidden;
        overflow-x: hidden;
      }

      .handle {
        width: @aside-handle-width;
        > i.expand-collapse{
          right: 0;
          &::before { content: "\f138"; /* icon-chevron-sign-right */ }
        }
        .handle-text {
          // Turn the text on when the panel is closed
          display: block;
        }
      }
    }
  }

  // workspace and sidebar minimized
  body.workspace-minimized.sidebar-minimized & {
    min-width: (@workspace-min-width - @toc-width - @picker-width + @aside-handle-width*2);

    #menu-and-content {
      width: calc(~"100%" - @aside-handle-width*2+2);
      width: -moz-calc(~"100%" - @aside-handle-width*2+2);
    }

    .sidebar-workspace,
    .sidebar-toc {
      width: @aside-handle-width;
      .boxed-group {
        max-width: 0;
        visibility: hidden;
        overflow-x: hidden;
      }
    }
  }
}

// All the height:inherit to be able to scroll inside the ToC
#main {
  > div {
    // If this node is the signin modal then do not stretch it vertically
    .modal { height: initial; }

    > div {
      > #container { // a <section>
        > #workspace-container { // a <div>
          > div.sidebar-container {  // alternatively, set this to height:100%;
            position: fixed;
            min-height: 30px;
            > aside { // #sidebar .     alternatively, set this to height:100%;
              height: inherit;

              > div { // Marionette view div
                height: inherit;
                > .boxed-group {
                  height: inherit;
                  > .boxed-group-inner {
                    height: inherit;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}




@picker-width: 230px;
@toc-width: 270px;
@aside-border-width: 1px;
@aside-handle-width: 30px;
@aside-handle-width-expanded: 0px;
@boxed-group-header-height: 42px;
@workspace-min-width: (@menu-and-content-min-width + @picker-width + @toc-width);

aside > div {

  // Do not scroll. instead let javascript in sidebar.coffee set the height
  // of the sidebar element to scroll
  overflow-y: hidden;
  overflow-x: hidden;

  // Animate the sidebar to slide right (open) when minimized handle is clicked
  .boxed-group {
    //So the vertical bar shows up to the right of this box

    background-color: inherit; // GitHub makes this gray by default.

  }

  // The vertical bar to pull-in/out the sidebar
  > .handle {
    width: @aside-handle-width-expanded;
    height: 100%; // make whole bar clickable
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 1.2em;
    font-weight: normal;
    color: white;

    // Change the expand/collapse icon for the handle
    > i.expand-collapse {
      position: relative;
      display: block;
      width: @aside-handle-width;
      text-align: center;
      margin: .5em 0;
      opacity: .85;
    }

    > .handle-text {

      opacity: .85;
      .x-rotate(90deg, left bottom);

      // Hide the text if the sidebar is showing
      display: none;

      // Move the start of text just below the expand/collapse icon
      position: relative;
      left: 0;
      top: -@aside-handle-width;
      height: @aside-handle-width;
      line-height: @aside-handle-width;
      letter-spacing: 1px;
    }

  }

  // The Tree (which looks like a list)
  nav {

    > ol ol { padding: 0; margin: 0; }

    > h4 {
      margin: 10px;
    }

    li > .editor-node-body:not(:hover) > div.module-controls > a { display: none; }
    li > .editor-node-body:hover       > div.module-controls > a { display: inline-block; }

    li > .editor-node-body > div.open > .module-controls > a {
        display: inline-block;
    }

    // When a list item is expanded there is no dropzone just below it to add padding
    // so manually add in some padding
    li.editor-node-expanded > .editor-node-body {
      margin-bottom: 6px;
    }

    // TODO: Style the .edit-settings so it only shows up on hover

  }

}

// Workspace Picker should not have a title so hide it
aside#workspace #workspace-sidebar-toc > h4 { display: none; }

// Feed each panel's width to the <ol> mixin below
aside#workspace > div { // Picker
  .x-indent-compensate-panel(@picker-width - 70);
}
aside#sidebar > div { // TOC
  .x-indent-compensate-panel(@toc-width - 70);
}
// Feed the nesting level of each <ol> to the special padding/width mixin below
.x-indent-compensate-panel(@cs){
  nav {
    > ol              { .x-indent-compensate(0, @cs); }
    > ol ol           { .x-indent-compensate(1, @cs); }
    > ol ol ol        { .x-indent-compensate(2, @cs); }
    > ol ol ol ol     { .x-indent-compensate(3, @cs); }
    > ol ol ol ol ol  { .x-indent-compensate(4, @cs); }
  }
}
@indent-width: 20px;
@compensate-width: 20px;
.x-indent-compensate(@level, @compensate-start) {
  > li {
    // Padding on the left
    // Indent nested lists in this way so:
    // 1. the horizontal bars stretch across the whole width
    // 2. edit buttons on the right are still lined up
    > .editor-node-body /*:first-child*/ { padding-left: (@indent-width * @level); }

    // Compensate on the right (for ellipsis)
    // for each level in the tree decrease the size of allowable text by how much is indented
    // so the ellipsis show up in the right place
    .editor-node-title { max-width: (@compensate-start - @compensate-width * @level); }
  }
}


/*************************
 * GitHub Styles
 *************************/

// GitHub styles with custom selectors "sprinkled in"
// TODO: change to use the GitHub selectors only by adding classes
.boxed-group {
  position: relative;
  background: #efefef;
  margin: 0 0 15px 0;
  height: 100%;
  box-sizing: border-box;

  >h3 { line-height: 20px; }

  >h3, .heading {
    cursor: pointer;
    font-size: @panel-heading-size;
    color: @panel-heading-color;
    height: @panel-heading-height;
    font-family: @panel-heading-font;
    margin: 0; // undo default h3
    line-height: @panel-heading-line-height;
    font-weight: @panel-heading-weight;
    padding-right: @aside-handle-width; // to account for "closer" icon

    .title-text {
      color: @panel-heading-color;
      display: block;
      padding: @panel-heading-padding;
    }

  }

  .header {
    text-align: right;

    > * {
      vertical-align: middle;
      display: inline-block;
    }

    .add-content{
      text-align: right;
      margin: 5px 10px;

        // Also, make it right-align so it does not bleed to the right of the sidebar
        .btn-group ul.dropdown-menu {
          left: inherit; // Bootstrap aligns it left:0; by default
          right: 0;

          button {
            width: 100%;
            text-align: left;
          }

        }

    }
  }

  .boxed-group-inner {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    overflow: auto;
    height: calc(~"100% - 87px");
    height: -moz-calc(~"100% - 87px");
    color: #666;
    font-size: 13px;
  }

  nav > ol, // Added to the default style selector
  .boxed-group-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  nav ol > li,
  .boxed-group-list>li {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0;
    line-height: normal;
  }

  .editor-node-body {
    white-space: nowrap;
  }
  nav ol > li a,
  .editor-node-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    /* Max width is set based on the <li> nesting depth */
  }

  .boxed-group-list>li .minibutton {
    float: right;
    margin: -1px 0 0 10px;
  }

  nav li .module-controls > a,
  .context-button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }


  nav li .module-controls > a,
  .minibutton {
    padding: 0 5px 0 0;
    box-shadow: none;
    outline: none;
  }

  nav li .module-controls > a,
  .button, .minibutton {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
  }

  .context-button:before {
    position: absolute;
    top: 3px;
    left: 3px;
    /*content: "\f02f";*/
    display: block;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
  }
}


#menu-and-content .boxed-group-inner {
  padding-top: 41px; /* To allow space for semantic draggables */
  margin-top: -41px;
}


// Shift the content based on which sidebars are maximized
#menu-and-content {
  // Sidebar Maximized
  body.workspace-minimized:not(.sidebar-minimized) & { &, .content-title { margin-left: @toc-width + @aside-handle-width; } }
  // Workspace Maximized
  body.sidebar-minimized:not(.workspace-minimized) & { &, .content-title { margin-left: @picker-width + @aside-handle-width; } }
  // Both Minimized
  body.workspace-minimized.sidebar-minimized & { &, .content-title { margin-left: @aside-handle-width * 2; } }
  // Both Maximized
  &, .content-title {
    margin-left: @toc-width + @picker-width;
  }
}

// The sidebar-workspace does not need to shift because it is left-most
.sidebar-workspace {
  //margin-left: @picker-width;
}

// Shift the ToC based on if the workspace is maximized
.sidebar-toc {
  // Workspace Minimized
  body.workspace-minimized & { margin-left: @aside-handle-width; }
  // Workspace Maximized
  margin-left: @picker-width;
}


























/****************************************
 * OLD crufty stuff starts here
 ****************************************/


@sidebar-background: #f0f0f0;

.pickerswitch {
  cursor:pointer;
}



#greenpicker {
  position: absolute;
  left: 0;
  top: 32px;
  width: 30px;
  bottom: 0;
  background-color: @sidebar-background;
  background-position: center center;
  background-repeat: no-repeat;
  &:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #1FB04C;
    background-image: url(td-open-01.png);
  }
  z-index:1000;
  display: none;
  visibility: hidden;
}

#bluepicker {
  position: absolute;
  width: 29px;
  left: 0;
  top: 32px;
  bottom: 0;
  border-left: 1px solid #999;
  background-color: @sidebar-background;
  background-position: center center;
  background-repeat: no-repeat;
  &:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: @toc-color;
    background-image: url(td-open-01.png);
  }
  z-index:1000;
  display: none;
}


#container {
  ol ol a {
    color: @grayDark;
  }

  ol ol ol a {
    color: @gray;
  }

  //Used to style parts of the sidebar differently for different media-types
  @mt-book: ~"[data-media-type='application/vnd.org.cnx.collection']";

  min-width: 100px;

  border-right: 1px solid #ccc;

  /* Slide the sidebar off screen when hiding it */
  // -webkit-transition: 3s ease-in-out;

  overflow-y: auto;
  overflow-x: hidden;


  #workspace-sidebar-toc {

    .editor-content-title {
      cursor: default;
      .icon-pencil {
        font-size: 13px;
      }
      &:not(:hover) .icon-pencil{
        visibility: hidden;
      }
    }

    // Root nodes in the sidebar should have no left margin
    > ol {
      margin: 10px 0 0;
      padding: 0;
    }

    li {
      white-space: nowrap;
      font-size: 1em;
      font-family: Verdana, "DejaVu Sans",Tahoma;
    }

    li {
      list-style-type: none;

      // Style the Book differently. Give it a background color and number the lists
      &@{mt-book} {
        background-color: #fafafa;
        li {
          list-style-type: decimal;
          list-style-position: inside;
        }
      }
    }

    // Style the (+) or (-) Next to the node if it collapsed or expanded
    li {
      > .editor-node-body > .toggle-expand {
        cursor: pointer;
      }
      > .editor-node-body > .editor-expand-collapse {
        float: left;
        &:hover { background-color: #ccc; }
        &:not([data-media-type]) > i { width: 0.5em; }
      }
    }

    // If it is collapsed (not expanded) hide the children and change the icon
    li {
      // Make the icon a collapsed arrow (if it contains children)
      > .editor-node-body > .editor-expand-collapse > .icon-content::before {
        content: "\f0da"; /* icon-caret-right */
      }
      // Hide the children
      > ol { display: none; }
    }

    // If it is expanded change the icon and show the children
    li.editor-node-expanded {
      // Make the icon a collapsed arrow (if it contains children)
      > .editor-node-body > .editor-expand-collapse > .icon-content::before {
        content: "\f0d7"; /* icon-caret-down */
      }
      // Show the children
      > ol { display: block; }
    }

    .editor-node-after { min-height: 6px; }

    .editor-node-title {
      &.autogenerated-text { color: #666; }

      small.toc-badge {
        font-size: 70%; // By default, small is 85%
        color: #999;
      }
    }

    li.active {
      .icon-content:before {
        color: inherit;
      }

      > .editor-node-body {

        // Highlight the background of the selected/active content
        &[data-media-type=@{book-media-type}] {
          background-color: @toc-color-light;
        }
        &[data-media-type=@{page-media-type}] {
          background-color: @module-color-light;
        }

        > [data-media-type=@{book-media-type}] {
          color: @toc-color;
        }
        > [data-media-type=@{page-media-type}] {
          color: @module-editor-color;
        }

        .editor-node-title {
          font-weight: bold;

          small.toc-badge {
            color: inherit;
          }
        }
      }
    }

    .btn-link {
      vertical-align: top;
    }
  }
}
