@import "../variables.less";

@sidebar-background: #f0f0f0;

.pickerswitch {
  cursor:pointer;
}

#workspace-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
}

#sidebar-container {
  position: absolute;
  bottom: 0px;
  left: 125px;
  top: 0px;
  width: 125px;
}

#workspace {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 32px;
  width: 250px;
}

#sidebar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 32px;
  width: 125px;
  border-left: 1px solid #999;
}

#workspace > *,
#sidebar > * {
  height: 100%;
}

#greenpicker {
  position: absolute;
  left: 0;
  top: 32px;
  width: 30px;
  bottom: 0;
  background-color: @sidebar-background;
  background-position: center center;
  background-repeat: no-repeat;
  &:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #1FB04C;
    background-image: url(td-open-01.png);
  }
  z-index:1000;
  display: none;
  visibility: hidden;
}

#bluepicker {
  position: absolute;
  width: 29px;
  left: 0;
  top: 32px;
  bottom: 0;
  border-left: 1px solid #999;
  background-color: @sidebar-background;
  background-position: center center;
  background-repeat: no-repeat;
  &:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #0E807D;
    background-image: url(td-open-01.png);
  }
  z-index:1000;
  display: none;
}

#container > #workspace-container .blue:not(.edit-settings),
#container > #workspace-container .green:not(.edit-settings),
#container > #workspace-container .orange:not(.edit-settings) {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#container > #workspace-container {
    &.wsminimized {
        #pickertext {
            visibility: hidden;
        }
        #greenpicker {
            display: block;
            visibility: visible;
        }

        @sidebar-left: 30px;
        #greentoolbar {
          width: @sidebar-left;
          &:hover {
            width: 100px;
            border-radius: 0px 7px 7px 0px;
            -moz-border-radius: 0px 7px 7px 0px;
            -webkit-border-radius: 0px 7px 7px 0px;
            z-index: 1000;
          };
        }

        #workspace {
          width: @sidebar-left;
          display: none;
        }

        @sidebar-width: 300px;
        #sidebar-container {
          left: @sidebar-left;
          width: @sidebar-width;
          #bluetoolbar, #sidebar {
            width: @sidebar-width;
          }
        }

        > #content, .orange {
          left: @sidebar-left+@sidebar-width;
          right: 0;
        }

        &.tocminimized {
            // Both workspace and toc minimised
            @sidebar-width: 30px;
            #sidebar-container {
              left: @sidebar-left;
              width: @sidebar-width;
              #bluetoolbar, #sidebar {
                width: @sidebar-width;
              }
            }

            > #content, .orange {
              left: @sidebar-left+@sidebar-width;
            }

            #sidebar {
                display: none;
            }

            #bluepicker {
                display: block;
            }
        }
    }

    &:not(.wsminimized) {
        @sidebar-left: 250px;
        @sidebar-width: 250px;

        #workspace, #greentoolbar {
          width: @sidebar-left;
        }

        #sidebar-container {
          left: @sidebar-left;
          width: @sidebar-width;
          #bluetoolbar, #sidebar {
            width: @sidebar-width;
          }
        }

        > #content, .orange {
          left: @sidebar-left+@sidebar-width;
          right: -@sidebar-width;
        }

        &.tocminimized {
            // Both workspace and toc minimised
            // Both workspace and toc minimised
            @sidebar-width: 30px;
            #sidebar-container {
              left: @sidebar-left;
              width: @sidebar-width;
              #bluetoolbar, #sidebar {
                width: @sidebar-width;
              }
            }

            > #content, .orange {
              left: @sidebar-left+@sidebar-width;
            }

            #sidebar {
                display: none;
            }

            #bluepicker {
                display: block;
            }
        }
    }
}

#container {
  ol ol a {
    color: @grayDark;
  }

  ol ol ol a {
    color: @gray;
  }

  //Used to style parts of the sidebar differently for different media-types
  @mt-book: ~"[data-media-type='application/vnd.org.cnx.collection']";

  min-width: 100px;

  padding: 1em;
  border-right: 1px solid #ccc;

  /* Slide the sidebar off screen when hiding it */
  // -webkit-transition: 3s ease-in-out;

  background: #f0f0f0;

  overflow-y: auto;
  overflow-x: hidden;

  #workspace.edit-settings { visibility: visible; }

  #sidebar {
    .editor-node-body {
      &:hover {
        background-color: #eee;
        .edit-settings { display: inherit; }
      }

      .edit-settings { display: none; }
    }
  }

  .workspace-sidebar {
    h3 {
      font-family: Verdana, "DejaVu Sans", Tahoma;
      font-size: 1.15em;
    }

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #workspace-sidebar-toc {
    // Root nodes in the sidebar should have no left margin
    > ol { margin: 0; }

    li {
      white-space: nowrap;
      color: #333;
      font-size: 1em;
      font-family: Verdana, "DejaVu Sans",Tahoma;
    }

    li {
      list-style-type: none;

      // Style the Book differently. Give it a background color and number the lists
      &@{mt-book} {
        background-color: #fafafa;
        li {
          list-style-type: decimal;
          list-style-position: inside;
        }
      }
    }

    // Style the (+) or (-) Next to the node if it collapsed or expanded
    li {
      > .editor-node-body > .editor-expand-collapse {
        cursor: pointer;

        &:hover { background-color: #ccc; }
        &:not([data-media-type]) > i { width: 0.5em; }
      }
    }

    // If it is collapsed (not expanded) hide the children and change the icon
    li {
      // Make the icon a collapsed arrow (if it contains children)
      > .editor-node-body > .editor-expand-collapse > .icon-content::before {
        content: "\f0da"; /* icon-caret-right */
      }
      // Hide the children
      > ol { display: none; }
    }

    // If it is expanded change the icon and show the children
    li.editor-node-expanded {
      // Make the icon a collapsed arrow (if it contains children)
      > .editor-node-body > .editor-expand-collapse > .icon-content::before {
        content: "\f0d7"; /* icon-caret-down */
      }
      // Show the children
      > ol { display: block; }
    }

    .editor-node-after { min-height: 6px; }

    .editor-node-title {
      overflow-x: ellipses;
      &.autogenerated-text { color: #666; }

      small.toc-badge {
        font-size: 70%; // By default, small is 85%
        color: #999;
      }
    }


    .btn-link {
      vertical-align: top;
    }
  }
}

#menu, #content {
    border-left: 1px solid #999;
}












aside {
  // Allow vertical scrolling
  height: 100%;


  //.boxed-group {
  position: relative;
  background: #efefef;
  padding: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
  //}


  // Indent nested lists in this way so:
  // 1. the horizontal bars stretch across the whole width
  // 2. edit buttons on the right are still lined up
  nav > ol ol { padding: 0; margin: 0; }
  nav > ol ol > li > *:first-child { padding-left: 20px; }
  nav > ol ol ol > li > *:first-child { padding-left: 40px; }

  // for each level in the tree decrease the size of allowable text by how much is indented
  // so the ellipsis show up in the right place
  nav > ol > li .editor-node-title { max-width: 230px; }
  nav > ol ol > li .editor-node-title { max-width: 215px; }
  nav > ol ol ol ol > li .editor-node-title { max-width: 200px; }
  nav > ol ol ol ol ol > li .editor-node-title { max-width: 185px; }


  // When a list item is expanded there is no dropzone just below it to add padding
  // so manually add in some padding
  li.editor-node-expanded > .editor-node-body {
    margin-bottom: 6px;
  }


  .add-content,
  .boxed-group>h3, .boxed-group .heading {
    background-color: #e0e0e0;
    background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
    background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
    background-image: linear-gradient(#fafafa, #e0e0e0);
    background-repeat: repeat-x;
    margin: 0;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    padding: 10px 10px 11px 10px;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
  }

  .workspace-sidebar,
  .boxed-group .boxed-group-inner {
    padding: 1px 10px;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    color: #666;
    font-size: 13px;
  }

  nav > ol,
  .boxed-group-list {
    list-style: none;
    margin: 0;

    padding: 0;
  }


  nav ol > li,
  .boxed-group-list>li {
    display: block;
    margin-left: -10px;
    width: 100%;
    padding: 5px 10px 0;
    line-height: 23px;
    border-top: 1px solid #e5e5e5;
  }

  .editor-node-body {
    white-space: nowrap;
  }
  nav ol > li a,
  .editor-node-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Max width is set based on the <li> nesting depth */
  }


  nav li .btn-mini.pull-right,
  .boxed-group-list>li .minibutton {
    float: right;
    margin: -1px 0 0 10px;
  }


  nav li .btn-mini.pull-right,
  .context-button {
    position: relative;
    //width: 12px;
    //height: 22px;
    line-height: 23px;
    //font: normal normal 16px "octicons";
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }


  nav li .btn-mini.pull-right,
  .minibutton {
    padding: 0 10px;
    line-height: 24px;
    box-shadow: none;

    outline: none;
  }

  nav li .btn-mini.pull-right,
  .button, .minibutton {
    position: relative;
    display: inline-block;
    //padding: 7px 15px;
    //font-size: 13px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
  }


  nav li .btn-mini.pull-right:before,
  .context-button:before {
    position: absolute;
    top: 3px;
    left: 3px;
    /*content: "\f02f";*/
    display: block;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
  }

  /*
  nav li .btn-mini.pull-right:after,
  .context-button:after {
  position: absolute;
  top: 10px;
  right: 5px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 3px solid #000;
  border-color: #000 transparent transparent;
  }
  */

  .add-content:before {
    content: "Table of contents";
  }

  .btn-group {
    float: right;
  }


}


