/* Import 3rd party libraries first */
/* These should probably be explicitly defined in require.config.coffee
 * instead of here.
   @import url('lib/bootstrap/css/bootstrap.css');
 */


/* Aloha Style Overrides */

.aloha-block-draghandle {
  position: relative;
  left: 0;
  top: -13px;
  width: 24px;
  height: 12px;
  overflow: hidden;
  display: block;
  background: url(lib/Aloha-Editor/src/plugins/common/block/img/toolbar-draghandle.gif);
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.aloha-editable-active .aloha-block:hover,
.aloha-block.aloha-block-highlighted:hover {
  background-color: #efefef;
}

.aloha-editable-active, .aloha-editable-active[contenteditable=true]:focus {
  outline: none;
  box-shadow: none;
}

.note {
  margin: 1em;
  border: 1px solid black;
}


/* Used for hiding the sidebar. `HidingRegion` uses this class */
.hidden { }

.below-toolbar {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

.has-changed { color: #cc0; }

/* Bootstrap progress bars have a margin-bottom: 20px. Remove it */
.progress { margin-bottom: 0 !important; }

#layout-main-sidebar {
  height: 100%;
  -webkit-box-sizing: border-box;
  position: relative;
  min-width: 20em;

  padding: 1em;
  border-right: 1px solid #ccc;

  /* Slide the sidebar off screen when hiding it */
  -webkit-transition: 0.5s ease-in-out;
}
#layout-main-sidebar.hidden {
  margin-left: -20em;
}

#layout-main-sidebar nav li {
  white-space: nowrap;
}

#layout-main-toolbar { display: inline-block; }

#layout-main-area {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-box-sizing: border-box;
  position: relative;
}


#layout-main-sidebar .edit { float: right; }

#layout-main-sidebar nav .editor-node-body:hover { background-color: #eee; }
#layout-main-sidebar nav .editor-node-body > .edit-settings { visibility: hidden; }
#layout-main-sidebar nav .editor-node-body:hover > .edit-settings { visibility: visible; }

/* Enable scrolling inside the side bar */
#layout-main-sidebar nav {
  height: 100%;
  overflow: auto;
}

.addable { margin-left: 1em; }




/* Mustache does not allow logic in their templates so
 * we set the correct character based on the 'type' of content.
 *
 * Show the document icon by default.
 */
*[data-media-type]                         > .icon-content { margin-right: 0.5em; }
*[data-media-type='application/xhtml+xml'] > .icon-content:before,
*[data-media-type='application/vnd.org.cnx.module']         > .icon-content:before { color: #00c; content:"\f0f6"; /* icon-file-alt */ }
*[data-media-type='application/vnd.org.cnx.collection']     > .icon-content:before { color: #c00; content:"\f02d"; /* icon-book */ }
*[data-media-type='application/vnd.org.cnx.folder']         > .icon-content:before { color: #999; content:"\f07c"; /* icon-folder-open */ }

.search-results > tbody > tr { cursor: pointer; }
.search-results a { color: black; }
.search-results a:hover { color: blue; }

#layout-main-sidebar nav > ol { margin: 0; }
#layout-main-sidebar li {
  list-style-type: none;
}
#layout-main-sidebar li[data-media-type='application/vnd.org.cnx.collection'] {
  background-color: #fafafa;
}
#layout-main-sidebar li[data-media-type='application/vnd.org.cnx.collection'] li {
  list-style-type: decimal;
}

#layout-main-sidebar .editor-expand-collapse:hover { background-color: #ccc; }


.dnd-content-handle {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #ccc;
  padding: 5px;
  padding-bottom: 10px;
  max-width: 300px;
  max-height: 1em;

  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}
.dnd-content-handle > .title-content { font-weight: bold; }

/* Reduce the vertical whitespace */
/* #layout-main-sidebar nav li { line-height: 14px;} */

#layout-main-sidebar .ui-draggable { cursor: move; }

.editor-node-after {
  min-height: 6px;
}

.editor-drop-zone-active {
  min-height: 6px;
}

.editor-drop-zone-hover {
  background-color: #ccc;
}



.editor-node-title.autogenerated-text { color: #666; }

#nav-close {
  position: relative;
  right: -5px;
  line-height: 20px;
}

.editor-expand-collapse { cursor: pointer; }
/* All elements with this attribute are draggable */
*[data-media-type] { cursor: pointer; }


.layout-content .content-title:before {
  content: "Title: ";
  opacity: 0.5;
}

/* Add some space because the toolbar floats */
#layout-main-area {
  background-color: #ebebeb;
  padding: 2em;
}

#layout-main-area > * {
  padding: 1em;
  background-color: white;
  border: 1px solid black;
}

.layout-content #layout-body > * {
  min-height: 5in;
}

/* Hint that the user can edit the title here */
#layout-title { cursor: pointer; }
#layout-title + .popover { font-size: 12pt; font-weight: normal; }


/* Add graphics to Roles inputs to show the type of input */
/* Bootstrap ".input-prepend .add-on" does not work with select2 inputs so we use a new class "add-on-prepend" */
.add-on-prepend,
.add-on-append {

  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.add-on-prepend {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  vertical-align: top;
  margin-right: -5px;
}
.add-on-append {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  vertical-align: top;
  margin-left: -5px;
}

.navbar-fixed-top h3 {
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
}

/* Used to visually disable editable areas and views until their contents have loaded */
.disabled { opacity: 0.5; }
/*.hidden { display: none !important; }*/

.select2-container {
  min-width: 15em;
}

/* Apparently MathJax still renders the annotation element as plain text */
.math-element .MathJax .math .annotation, annotation {
  display: none;
}

/* Remove the annoying WAI button in tables */
.aloha-table-wrapper div.aloha-wai-red { background-image: none !important; }

/* Hide the annoying floating toolbar */
.aloha-toolbar { display: none !important; }

/* Set some styling on the toolbar */
.toolbar {
  background-color: whiteSmoke;
  opacity: 0.95;

  padding-left: 1em;
  box-shadow: 0 2px 3px 0 #CCC;
  /* This is the same z-index as popovers so the popover renders above the toolbar
   * but Math (which is also raised) still shows up below the toolbar
   */
  z-index: 1010;
}

/* Set the width for the Heading/SubHeading dropdown */
.toolbar .currentHeading {
  width: 9em;
}

/* Add some padding on the top so the toolbar has room to float in */
/* .document { margin: 4em; } */

/* Needs to occur AFTER the bootstrap.css */
/* Allows the popover to grow in size */
.popover {
  width: auto;
}

/* We don't use the title in popovers so hide it... */
.popover .popover-title { display: none; }



figure {
  counter-increment: figure;
  /* Set inline-block so the figure popover shows up directly under instead of 1/2-way in the page */
  display: inline-block;
}
figure figcaption::before { content: "Figure " counter(figure) " "; font-weight: bold; }

.aloha-image-upload-drop-box {
  text-align: center;
  border: 1px dashed #ccc;
  width: 400px;
  padding: 100px 0;
  cursor: pointer;
}

/* Metadata fields that occur around the image */
.aloha-image-attrib .aloha-image-attr-alt::before {
  content: "Please provide a description of this image for the visually impaired";
  color: #ccc;
  display: block;
}
/* Just some formatting of the input boxes */
.aloha-image-attrib input { display: block; }
.aloha-image-attrib .aloha-image-attr-alt {
  width: 400px;
  display: block;
}

/* Make sure previewing large images should not take up the entire screen */
.image-options .preview-image {
  max-width: 480px;
  max-height: 300px;
}

/* Rough Table Styling */
table td { min-width: 5em; }
table td:first-child { min-width: 1em; }
/*------------------------------------------*/

.aloha-table-wrapper div.aloha-wai-red { background-image: none !important; }
.aloha-toolbar { display: none !important; }

.toolbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}


body {
  padding-top: 41px;
  padding-bottom: 0;
}

#editorspan {
  background-color: #FAFAFA;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#collectionspan {
  background-color: #99CCFF;
  border: 1px solid #ddd;
}

.toolbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

figure { counter-increment: figure; }
figure figcaption::before { content: "Figure 1." counter(figure) " "; font-weight: bold; }

.aloha-image-upload-drop-box {
  text-align: center;
  border: 1px dashed #ccc;
  width: 400px;
  padding: 100px 0;
  cursor: pointer;
}

/* Metadata fields that occur around the image */
.aloha-image-attrib {

}
.aloha-image-attrib .aloha-image-attr-alt::before {
  content: "Please provide a description of this image for the visually impaired";
  color: #ccc;
  display: block;
}
/* Just some formatting of the input boxes */
.aloha-image-attrib input { display: block; }
.aloha-image-attrib .aloha-image-attr-alt {
  width: 400px;
  display: block;
}

.modal-body {
  min-height: 200px;
}
