<div id="{{layout}}">
  <nav id="menu"></nav>

  <section id="container">
    <aside id="workspace-container" class="minimized">
      <button type="button" class="close" data-dismiss="alert">&#x00d7;<!-- X --></button>
      <div id="workspace"></div>
    </aside>
    <aside id="sidebar-container" class="minimized">
      <button type="button" class="close" data-dismiss="alert">&#x00d7;<!-- X --></button>
      <div id="sidebar"></div>
    </aside>
    <div id="content"></div>
  </section>
</div>
