<div id="{{layout}}">
  <section id="container">
    <div id="workspace-container">
      <div class="sidebar-container sidebar-workspace">
        <aside id="workspace" class="green"></aside>
      </div>
      <div class="sidebar-container sidebar-toc">
        <aside id="sidebar" class="blue"></aside>
      </div>
      <div id="menu-and-content" class="orange">
        <div class="content-panel">
          <div class="content-title">
            <div class="title-bar">
              <div id="workspace-auth">
                {{! Auth View }}
              </div>
              <span id="editor-title-text">
                Editor:
                <span id="module-title-indicator"></span>
              </span>
            </div>
            <div id="menu" class="content-toolbar"></div>
          </div>
          <div class="boxed-group">

            <div class="boxed-group-inner">
              <div id="content" class="content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
