<nav id="workspace-sidebar-toc" data-type="toc">
  {{#if mediaType}}
    <h4 data-media-type="{{mediaType}}">
      <i class="icon-content"></i>
      <span title="Click to Change Title" class="editor-content-title">{{title}} <i class="icon-pencil"></i></span>

      {{#if _isDirty}}
        <small class="toc-badge">
          <span class="is-dirty" title="This has unsaved changes">
            <i class="icon-asterisk"></i>
          </span>
        </small>
      {{/if}}
      {{#if _hasRemoteChanges}}
        <small class="toc-badge">
          <span class="has-remote-changes" title="This has been changed by someone else">
            <i class="icon-refresh"></i>
          </span>
        </small>
      {{/if}}

    </h4>
  {{/if}}
  <ol></ol>
</nav>
{{#if isPicker}}
<span class="picker-drag-training-wheel" title="You can drag content from any book in the Picker into the Table of Contents. The content will be copied."></span>
{{/if}}
