<nav id="workspace-sidebar-toc" data-type="toc">
  {{#if mediaType}}
    {{#if title}}
      <div class="dropdown">
        <h4 data-media-type="{{mediaType}}" class="dropdown" data-toggle="dropdown">
          <i class="icon-content"></i>
          <span title="Click to Change Title" class="editor-content-title">
            {{title}} <i class="icon-chevron-sign-down"></i>
          </span>
        </h4>
        <ul class="dropdown-menu">
          <li>
            <a class="toc-edit-rename">
              <i class="icon-pencil"></i>
              Rename this {{prettyName}}
            </a>
          </li>
          <li>
            <a class="toc-edit-metadata">
              <i class="icon-pencil"></i>
              Edit authors, license, etc.
            </a>
          </li>
        </ul>
      </div>
    {{/if}}
  {{/if}}
  <ol></ol>
</nav>
{{#if isPicker}}
<span class="picker-drag-training-wheel" title="You can drag content from any book in the Picker into the Table of Contents. The content will be copied."></span>
{{/if}}
