<nav id="workspace-sidebar-toc" data-type="toc">
  {{#if mediaType}}
    <h4 data-media-type="{{mediaType}}">
      <i class="icon-content"></i>
      <span title="Click to Change Title" class="editor-content-title">{{title}}</span>

      {{#if _isDirty}}
        <small class="toc-badge">
          <span class="is-dirty" title="This has unsaved changes">
            <i class="icon-asterisk"></i>
          </span>
        </small>
      {{/if}}
      {{#if _hasRemoteChanges}}
        <small class="toc-badge">
          <span class="has-remote-changes" title="This has been changed by someone else">
            <i class="icon-refresh"></i>
          </span>
        </small>
      {{/if}}

    </h4>
  {{else}}
    <h4><span class="go-workspace">My Workspace</span></h4>
  {{/if}}
  <ol></ol>
</nav>
