<button id="nav-close" class="btn pull-right close"><i class="icon-remove-sign"></i></button>

<p>Reorder the Table of Contents, add new content, or edit a piece of content by clicking <i class="icon-edit"></i>.</p>

<h3>{{title}}</h3>

<nav data-type="toc">
  <ol></ol>
</nav>
