<span class="dnd-content-handle" data-media-type="{{mediaType}}" data-content-id="{{id}}" data-content-title="{{title}}"><i class="icon-content"></i><span class="title-content">{{shortTitle}}</span></span>
