@import "../../styles/main.less";

.x-media-type-icon(@media-type; @add-title; @color; @char) {
  @mt-selector: ~"[data-media-type='@{media-type}']";
  @{mt-selector} > .icon-content::before { color: @color; content: @char; }
  @{mt-selector} > .add-content-title::before { content: "New " @add-title; color: black; }
}

.x-media-type-icon('application/xhtml+xml';              "content/module"; #999;       "\f0f6"); /* icon-file-alt */
.x-media-type-icon('application/oebps-package+xml';      "Book";           @toc-color; "\f02d"); /* icon-book */
.x-media-type-icon('application/vnd.org.cnx.section';    "book division";  #999;       ""); /* icon-folder-open */

#login-advanced-wrapper {
    margin-top: 1em;
    #login-advanced {
        margin-top: 1em;
    }
}

.content-title {
  height: 33px;
  padding-top: 5px;
}

#menu-and-content .content-panel {
  height: calc(~"100% - 38px");
}

.btn-primary, .btn-group.open .btn-primary.dropdown-toggle{
  .buttonBackground(#3AAEB3, #23979B); // This blue doesn't clash as much with our colors
}

.picker-drag-training-wheel{
  position: absolute;  
  bottom: 0;
  right: -8px;
  content: url(picker-drag-training-wheel.png);
}

nav#workspace-sidebar-toc{
  padding-bottom: 111px; // 81px from the training wheel image, not really sure why ~30px extra is needed
}
