<div class="boxed-group">
  <h3>
    <span class="title-text">{{! Table of Contents}}</span>
  </h3>
  <div class="header">
    <a href="#edit-repo-modal" data-toggle="modal">other shelves</a>
    <div class="add-content"></div>
  </div>
  <div class="workspace-sidebar boxed-group-inner"></div>
</div>

<!-- Show the handle to the right -->
<h3 class="handle" title="Expand/collapse this panel">
  <i class="expand-collapse icon-"></i><!-- icon-chevron-sign-left/right -->
  <span class="handle-text">{{! Table of Contents}}</span>
</h3>
