<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><button class="go-workspace btn-link"><i class="icon-home nav-home"></i></button></li>
      </ul>

      <form class="navbar-form pull-left">
        <span id="workspace-menu-add">
          {{! Add View }}
        </span>

        <span id="workspace-menu-toolbar">
          {{! Toolbar View }}
        </span>
      </form>

      <div id="workspace-menu-auth" class="pull-right">
        {{! Auth View }}
      </div>
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
