<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">

        <form class="navbar-form pull-left">
          <span id="workspace-menu-add">
            {{! Add View }}
          </span>

          <span id="workspace-menu-toolbar">
            {{! Toolbar View }}
          </span>
        </form>

        <div id="workspace-menu-auth" class="pull-right">
          {{! Auth View }}
        </div>
      </div>
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
