<div class="btn-group">
  <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
    <i class="icon-plus"></i>
    <span>Add</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {{! dropdown menu links }}
  </ul>
</div>

<!-- book create -->
<div
  id="create-book-modal"
  class="modal hide fade"
  tabindex="-1"
  role="dialog"
  style="width: 660px; text-align: left;"
  >
  <div class="modal-header">
    <button type="button" class="close" data-cancel aria-hidden="true">×</button>
    <h3>Title for new book</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">What title would you like to use?</label>
        <div class="controls">
          <input type="text" class="input-large" name="title">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" data-submit data-dismiss="modal">Next</button>
  </div>
</div>
