<div class="btn-group">
  <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
    <i class="icon-plus"></i>
    <span>Add</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {{! dropdown menu links }}
  </ul>
</div>

<!-- book create -->
<div
  id="create-book-modal"
  class="modal hide fade"
  tabindex="-1"
  role="dialog"
  style="width: 400px;"
  >
  <div class="modal-body">
    <form style="text-align: center">
      <label style="margin: 30px 0 20px 0;">What title would you like to use for this?</label>
      <input type="text" class="input-large" name="title">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn" data-submit data-dismiss="modal">Next</button>
  </div>
</div>
