@import "variables.less";

/* Style the element that gets rendered when dragging around
 * (The little box that follows the cursor)
 */
.dnd-content-handle {
  position: relative;
  z-index: 10000;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #ccc;
  padding: 5px;
  padding-bottom: 10px;
  max-width: 300px;
  max-height: 1em;
  box-shadow: 2px 2px 2px #888;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}
.dnd-content-handle > .title-content { font-weight: bold; }

.editor-drop-zone-hover {
  background-color: #ccc;
}
