@import "variables.less";

.x-media-type-icon(@media-type; @add-title; @color; @char) {
  @mt-selector: ~"[data-media-type='@{media-type}']";
  @{mt-selector} > .icon-content::before { color: @color; content: @char; }
  @{mt-selector} > .add-content-title::before { content: "New " @add-title; color: black; }
}

[data-media-type] {
  cursor: pointer;
  > .icon-content { margin-right: 0.25em; }
}

.x-media-type-icon('application/xhtml+xml';              "Content";   #00c; "\f0f6"); /* icon-file-alt */
.x-media-type-icon('application/vnd.org.cnx.module';     "Module";    #00c; "\f0f6"); /* icon-file-alt */
.x-media-type-icon('application/vnd.org.cnx.collection'; "Book";      #c00; "\f02d"); /* icon-book */
.x-media-type-icon('application/vnd.org.cnx.folder';     "Folder";    #999; "\f07c"); /* icon-folder-open */
.x-media-type-icon('application/vnd.org.cnx.container';  "Container"; #999; "\f114"); /* icon-folder-close-alt */

#menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 41px;
  left: 0;
  overflow: hidden;

  .nav-home {
    font-size: 1.25em;
    vertical-align: middle;
    color: @linkColor;
  }

  .nav-home:hover {
    color: @linkColorHover;
    text-decoration: underline;
  }
}

#container {
  display: -webkit-flex;
  position: absolute;
  top: 41px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  overflow: hidden;
}

#sidebar {
  //Used to style parts of the sidebar differently for different media-types
  @mt-book: ~"[data-media-type='application/vnd.org.cnx.collection']";

  -webkit-flex: 0 1 20em;

  padding: 1em;
  border-right: 1px solid #ccc;

  /* Slide the sidebar off screen when hiding it */
  -webkit-transition: 0.5s ease-in-out;

  background: white;

  overflow-y: auto;
  overflow-x: hidden;

  #workspace-sidebar-toc {
    // Root nodes in the sidebar should have no left margin
    > ol { margin: 0; }

    li { white-space: nowrap; }

    .editor-node-body {
      &:hover {
        background-color: #eee;
        .edit-settings { visibility: visible; }
      }

      .edit-settings { visibility: hidden; }
    }

    li {
      list-style-type: none;

      // Style the Book differently. Give it a background color and number the lists
      &@{mt-book} {
        background-color: #fafafa;
        li {
          list-style-type: decimal;
          list-style-position: inside;
        }
      }
    }

    // Style the (+) or (-) Next to the node if it collapsed or expanded
    li {
      > .editor-node-body > .editor-expand-collapse {
        cursor: pointer;

        &:hover { background-color: #ccc; }
        &:not([data-media-type]) > i { width: 0.5em; }
      }
    }

    // If it is collapsed (not expanded) hide the children and change the icon
    li {
      // Make the icon a collapsed arrow (if it contains children)
      > .editor-node-body > .editor-expand-collapse > .icon-content::before {
        content: "\f0da"; /* icon-caret-right */
      }
      // Hide the children
      > ol { display: none; }
    }

    // If it is expanded change the icon and show the children
    li.editor-node-expanded {
      // Make the icon a collapsed arrow (if it contains children)
      > .editor-node-body > .editor-expand-collapse > .icon-content::before {
        content: "\f0d7"; /* icon-caret-down */
      }
      // Show the children
      > ol { display: block; }
    }

    .editor-node-after { min-height: 6px; }

    .editor-node-title.autogenerated-text { color: #666; }
  }
}

#content {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-flex: 1 0 auto;
  background-color: #ebebeb;
  padding: 2em;

  // Make the main editing area white so it looks like a sheet of paper
  .layout-content {
    padding: 2em;
    background-color: white;
    border: 1px solid black;
  }

  .search-results {
    background-color: white;
    border: 1px solid black;
    border-collapse: separate;

    th, tr {
      padding: 1em;
    }
  }

  #layout-title {
    // Hint that the user can edit the title here
    cursor: pointer;

    &:before {
      content: "Title: ";
      opacity: 0.5;
    }

    // Make the "tooltip" that the user can change the title small
    + .popover { font-size: 12pt; font-weight: normal; }

  }

  #accordion-metadata .accordion-toggle, #accordion-roles .accordion-toggle {
    width: 100%;
    text-align: left;
  }

  .select2-container {
    min-width: 15em;
  }

  .subjects, .keywords {
    input, .select2-container {
      min-width: 36em;
    }
  }

  .subjects, .keywords, .copyright-holders, .authors, .editors, .translators {
    input, .select2-container {
      min-width: 36em;
    }
  }
  
  #layout-body {
    .aloha-editable {
      min-height: 5in;
    }
  }
}
