@import "variables.less";

#menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 41px;
  left: 0;
  overflow: hidden;

  .nav-home {
    font-size: 1.25em;
    vertical-align: middle;
    color: @linkColor;
  }

  .nav-home:hover {
    color: @linkColorHover;
    text-decoration: underline;
  }

  .x-media-type-icon(@media-type; @add-title; @color; @char) {
    @mt-selector: ~"[data-media-type='@{media-type}']";
    @{mt-selector} > .icon-content::before { color: @color; content: @char; }
    @{mt-selector} > .add-content-title::before { content: "New " @add-title; color: black; }
  }

  [data-media-type] {
    cursor: pointer;
    > .icon-content { margin-right: 0.25em; }
  }

  .x-media-type-icon('application/xhtml+xml';              "Content";   #00c; "\f0f6"); /* icon-file-alt */
  .x-media-type-icon('application/vnd.org.cnx.module';     "Module";    #00c; "\f0f6"); /* icon-file-alt */
  .x-media-type-icon('application/vnd.org.cnx.collection'; "Book";      #c00; "\f02d"); /* icon-book */
  .x-media-type-icon('application/vnd.org.cnx.folder';     "Folder";    #999; "\f07c"); /* icon-folder-open */
  .x-media-type-icon('application/vnd.org.cnx.container';  "Container"; #999; "\f114"); /* icon-folder-close-alt */
}

#container {
  display: -webkit-flex;
  position: absolute;
  top: 41px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  overflow: hidden;
}

#sidebar {
  -webkit-flex: 0 1 20em;

  padding: 1em;
  border-right: 1px solid #ccc;

  /* Slide the sidebar off screen when hiding it */
  -webkit-transition: 0.5s ease-in-out;

  background: white;

  overflow-y: auto;
  overflow-x: hidden;
}

#content {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-flex: 1 0 auto;

  background-color: #ebebeb;

  padding: 2em;
}

.search-results {
  background-color: white;
  border: 1px solid black;

  th, tr {
    padding: 1em;
  }
}